@font-face {
font-family: "futura";
src: url("../assets/font/Futura (Light).ttf");
font-style: normal;
}

@font-face {
font-family: "futurabold";
src: url("../assets/font/futurabold.ttf");
font-style: normal;
}

@font-face {
font-family: "futuramedium";
src: url("../assets/font/futuramedium.ttf");
font-style: normal;
}

*{
font-family: "futura";
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    font-family: "futura";
    letter-spacing: 3px;
}

html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
}

#logo {
    text-align: left;
    margin-left: 15%;
    color: white;
    margin-top: 15px;
    height: 70%;
}
#logo:hover {

}
.menu,
.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 45px;
    text-align: center;
}
.menu {
    font-family: "futuramedium";
    font-size: 12px;
    margin-top: 10px;
}
.menu a {
    display: block;
    padding: 0;
    color: #fff;
    text-decoration: none;
    width: 130px;
}
.menu li {
    float: left;
}
#placement {
    margin-right: 10%;
    float: right;
    overflow: hidden;
}

.sociaux {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 40px;
}

.sociaux:hover{

}


.slide {
    position: relative;
    padding: 10%;
    height: 100%;
    width: 100%;
    transform-style: inherit;
}
#slide1{
    padding-top:9%;
    height:800px;
}
#slide2 {
    position: relative;
    padding: 10%;
    height: 100%;
    width: 100%;

    transform-style: inherit;
}
.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sousbloc {
    width: 50%;
    padding: 5%;
    height: 50%;
    border: solid;
}
.slide,
.slide:before {
    background: 50% 50% / cover;
}

/*#home {
    background-image: url("black.jpg");
    background-attachment: fixed;
   /* -webkit-filter: blur(5px);
    filter: blur(5px); 
}*/
#slide1:before {
    background-color: rgb(23, 23, 23);
    background-position: center;
    width:100%;
    height:1339px; /*longeur du premier slide*/
    z-index: -1;
}
#slide2 {
    background-color: rgb(23, 23, 23);
    background-attachment: no-repeat;
    height:70px;
}


#titre {
    width: 50%;
    padding: 5%;
    height: 45%;
    margin-left: 10%;
    margin-top: 5%;
}

#description {
    font-size: 100%;
    color: white;
    text-align: center;
    font-family: futura;
    text-align: justify;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blocartiste, .blocartiste2 {
    width: 20%;
    height: 39%;
    color: white;
    display: inline-block;
    margin-left: 5%;
    position: relative;
    background-image: url(../img/photoartiste.png);
}
.blocartiste{
    margin-top: 230px;
}
.blocartiste2{
    margin-top: 50px;
}

.artistename {
    width: 100%;
    height: 30%;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: #1e1d1d;
    border-top: solid;
    border-top-color: #c20d4e;
}
.blocartiste:hover > .artistename, .blocartiste2:hover > .artistename{
    border-top-color: #4be03f;
}
.blocartiste:hover {
}
.hovermenu:hover {

}
.blocartiste:hover > .artistename {      /*passe la couleur des blocs en vert*/
    border-top-color: #4be03f;
}

a {
    text-decoration: none;
}
.whoisit {
    height:20px;
    text-align: center;
    font-size: 15px;
    /*margin-top:15px;*/
    margin-top:6%;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity:0.8;
    font-weight: 700;
    font-family:'Roboto', sans-serif;
    letter-spacing: 1px;
}
.whenisit {
    height:10px;
    text-align: center;
    font-size: 9px;
    line-height:12px;
    font-family: futura;
    margin-top:5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:0 8px;
    opacity:0.6;
}
.allconcert {
    color: black;
    font-size: 11px;
    text-align: center;
    padding:0 6px;
    width: 20%;
    height: 34px;
    margin-left: 30.4%;
    margin-top: 3%;
    line-height: 38px;
    background-color: rgba(255, 255, 86, 0.7);
    letter-spacing: 2px;
    border-radius: 2px;
}
.allconcert:hover {
    background-color: rgba(255, 255, 86, 1);
}

.artiste {
    float:right;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 20%;
    height: 30%;
    margin-top:-600px;
    margin-right: 300px;
    line-height: 40px;
    background-color: white;
    z-index: 0;
}
.artiste:hover {
    background-color: rgb(232, 231, 231);
}

.artiste2 {
    float:right;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 20%;
    height: 10%;
    margin-top:-350px;
    margin-right: 300px;
    line-height: 40px;
    background-color: white;
    z-index: 1;
}
.artiste2:hover {
    background-color: rgb(232, 231, 231);
}

.megatest {
    width: 17%;
    height: 25%;
    position: absolute;
    margin-left: 4%;
    color: white;
    font-size: 25px;
    letter-spacing: 6px;
    line-height: 40px;
}

.introduction{
    width: 30%;
    height: 70%;
    text-align: right;
    position: absolute;
    right: 26%;
    color: white;
    font-size: 16px;
    margin-top: 100px;
}
.autourdumonde {                    /*modifs autourdumonde*/
    font-size: 32px;
    text-align: center;
    width: 30%;
    height: 10%;
    margin-left: 25%;
    line-height: 70px;
    color: white;
    border: solid;
    border: center;
    height: 60px;
    width: 488px;
    margin-right: 90px;
    margin-left: 330px;
    margin-top: -5%;
}
.explication{                       /*modifs explication*/
    font-size: 16px;
    text-align: right;
    width: 35%;
    height: 10%;
    margin-left: 324px;
    line-height: 20px;
    color: white;
    margin-top: 5%;
}

#slide3{
    padding:0;
}

.map {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

p a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.bolddate {
    font-family: futura;
    font-size: 14px;
    font-weight: 900;
}

.comein{
    position: absolute;
    width: 50%;
    height: 50%;
    margin-top: 23%;
    margin-left: 30%;
}


.entreenscene{
    margin-left: 30%;
    margin-top: 20%;
}

.ensceneartiste{
    width: 50%;
    height: 55%;
    margin-left: 10%;
    margin-top: 10%;
}

.footer{
    width: 100%;
    height: 350px;
    border-top: solid;
    border-top-color: #ffff56;
    background-color: white;
}

.about{
    margin-left:6%;
    height:50%;
}

.aboutus{
    width: 20%;
    height: 50%;
    margin-top: 40px;
    margin-left: 9%;
    display: inline-block;
}

.apropos{
    height: 25%;
    font-size: 11px;
}

.footermenu{
    height: 80%;
    font-size: 10px;
    line-height: 20px;
}

.flechebas{
    position:absolute;
    height:20px;
    width:20px;
    left: 50%;
    margin-left:-20px;
    margin-top: 13%;

}

.follow{
    margin-left: 15%;
    margin-top: 50px;
    width: 80%;
    height: 15%;
}

.followus{
    font-family: futurabold;
    font-size: 30px;
    font-weight: 1900;
    line-height: 40px;
    margin-right:5px;
}

.socialfooter{
    float: left;
    position: relative;
}

.droit {
    float:left;
    position: relative;
    font-size: 12px;
    margin-left:12%;
}

.logoaccueil{
    width: 20%;
    height: 50%;
    overflow: hidden;
    margin-top: 2%;
    margin-left: 38%;
}

.footerlien {
    text-decoration: none;
    color: black;
}

.underline{
    border-bottom: solid;
    padding-bottom: 10px;
}


/* Media queries */

@media all and (max-width:925px) {

    .allconcert {
        padding-top:12px;
        font-size: 9px;
        height:38px;
        line-height:14px;
    }

    .apropos:first-child{
        height: 25%;
        font-size: 11px;
        margin-bottom:10px;
    }

    .blocartiste{
        margin-top: 260px;
    }
    .blocartiste2{
        margin-top: 80px;
    }

}

@media all and (min-width:925px) and (max-width:1050px) {
  
    .apropos:first-child{
        height: 25%;
        font-size: 11px;
        margin-bottom:10px;
    }

    .blocartiste{
        margin-top: 260px;
    }
    .blocartiste2{
        margin-top: 80px;
    }

}

@media all and (min-width:1050px) and (max-width:1155px) {

    .allconcert {
        font-size: 9px;
    }

    .apropos:first-child{
        height: 25%;
        font-size: 11px;
        margin-bottom:10px;
    }

}